 


body{
    padding: 20;
}

.main-box{
    background-color: black;
    padding: 20px;
}

.main-box h2{
    color: white;
}

.main-box.sub-box{
background-color: aliceblue;
padding: 20px;
}


.main-box.code-box{
    background-color: aqua;
    padding: 10px;
    margin-bottom: 20px;
}

.main-box button{
    padding: 5px 10px;
    background-color: greenyellow;
    border: none;
    color: white;
}